img {
    margin-top: 32px;
}

a {
    color: #1976d2 !important;
}

.side-nav p {
    text-align: left;
    color: #1976d2 !important;
}

area {
    cursor: default;
}

img.map, map area{
    outline: none;
}

table {
    margin-top: 32px;
}

td img {
    margin-top: 0;
    vertical-align: middle;
}

table.highlight tbody tr:hover {
    background-color: #eeeeee;
}

.clear-both {
    clear: both;
}

.container {
    margin-bottom: 32px;
}

.tabs {
    background-color: transparent;
}

.task {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 100%;
    height: 70vh;
}

.side-nav li {
    float: left;
}

.t1 {
    border: 1px solid red;
}

.t2 {
    border: 1px solid green;
}

.img-task-holder {
    width: 100%;
}

.img-task-holder img {
    margin-left: auto;
    margin-right: auto;
    max-height: 70vh;
    margin-top: 0px;
}

.tabs .indicator {
    background-color: #1976d2;
}

.input-field input[type=text]:focus, .input-field input[type=password]:focus {
    border-bottom: 1px solid #cfd8dc;
    box-shadow: 0 1px 0 0 #fff;
}

#btn-answer {
    margin-top: 25px;
}

#start-modal {
    width: 40%;
    padding: 16px;
}

@media only screen and (max-width : 600px) {
    #start-modal {
        width: 85%;
    }
}

#preloader {
    margin-top: 64px;
}

.collapsible-header > .row {
    padding: 10px;
    margin: 0;
    line-height: 1.5rem;
}